<div class="content">
    <h1 class="blue-header">Login</h1>
    <form name="userregform" ng-controller="AuthController as authcontroller" ng-submit="login(userregform, authcontroller.user)" novalidate="">
        <div>
            <label for="usernamefield" class="required form_label">User name</label>
            <input id="usernamefield" type="text" name="username" class="form-input" ng-model="authcontroller.user.username" required="" auth-username/>
            <div class="error">
                <span ng-show="(userregform.$submitted || userregform.username.$touched) && userregform.username.$error.required">
                    Username is required!
                </span>
                <span ng-show="(userregform.$submitted || userregform.username.$touched) && userregform.username.$error.username">
                    Your username is invalid!
                </span>
            </div>
        </div>
        <div>
            <label for="passwordfield" class="required form_label" >Password</label>
            <input id="passwordfield" type="password" class="form-input" ng-model="authcontroller.user.password" name="password" required="" auth-password/>
            <div class="error">
            <span ng-show="(userregform.$submitted || userregform.password.$touched) && userregform.password.$error.required">
                Password is required!
            </span>
            <span ng-show="(userregform.$submitted || userregform.password.$touched) && userregform.password.$error.authPassword">
                Password is invalid!
            </span>
            </div>
        </div>
        <input type="submit" class ="btn btn-success" value="Login">
        <a href="#/register" class ="btn btn-primary">Register</a>
    </form>
</div>