<form name="userregform" ng-controller="AuthController" ng-submit="saveUser(userregform, user)" novalidate="">
    <h1 class="blue-header">{{user.username | ProfileTitleFilter}}</h1>
    <div class = form_field>
        <label for="emailfield" class="required form_label">E-mail</label>
        <input id="emailfield" type="email" name="email" class="form-input" ng-model="user.email" required=""/>
        <div class="error">
            <span ng-show="(userregform.$submitted || userregform.email.$touched) && userregform.email.$error.required">
                E-mail is required!
            </span>
            <span ng-show="(userregform.$submitted || userregform.email.$touched) && userregform.email.$error.email">
                Your e-mail is invalid!
            </span>
        </div>
    </div>
    <div class = form_field>
        <label for="usernamefield" class="required form_label">User name</label>
        <input id="usernamefield" type="text" name="username" class="form-input" ng-model="user.username" required="" auth-username/>
        <div class="error">
            <span ng-show="(userregform.$submitted || userregform.username.$touched) && userregform.username.$error.required">
                Username is required!
            </span>
            <span ng-show="(userregform.$submitted || userregform.username.$touched) && userregform.username.$error.username">
                Your username is invalid!
            </span>
        </div>
    </div>
    <div class = form_field>
        <label for="passwordfield" class="required form_label">Password</label>
        <input id="passwordfield" type="password" ng-model="user.password" class="form-input" name="password" required="" auth-password/>
        <div class="error">
            <span ng-show="(userregform.$submitted || password.$touched) && userregform.password.$error.required">
                Password is required!
            </span>
            <span ng-show="(userregform.$submitted || password.$touched) && userregform.password.$error.authPassword">
                Password is invalid!
            </span>
        </div>
    </div>
    <div class = form_field>
        <label for="confirmpasswordfield" class="required form_label">Confirm Password</label>
        <input id="confirmpasswordfield" type="password" name="confirmpassword" class="form-input" ng-model="confirmpassword" required="" auth-password-confirm password="user.password""/>
        <div class="error">
            <span ng-show="(userregform.$submitted || userregform.confirmpassword.$touched) && userregform.confirmpassword.$error.authPasswordConfirm">
                Confirmed password is not equal to original!
            </span>
        </div>
    </div>
    <div class = form_field>
        <label for="phonefield" class="required form_label">Phone</label>
        <input id="phonefield" type="text" name="phone" ng-model="user.phone" class="form-input"/>
    </div>
    <input type="submit" class="btn btn-success" value="Save">
</form>